#main {
    background-image: url("../assets/arcade-image.jpg");
    background-size: cover;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    z-index: -999;
    object-fit: cover;
}

.backdrop {
    /*z-index: 10;*/
    position: absolute;
    top: 60px;
    left: 0;
    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: gray;
    opacity: 0.5;
}