#main {
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    align-items: center;
    gap: 20px;
    padding-top: 20px;
}

.titleCont {
    background-color: white;

    width: 20vw;
    height: 50px;
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.7;
}

.titleCont > * {
    font-size: 20px;
}

.gameCont {
    width: 70vw;
    height: 70vh;


    background-color: gray;
    box-shadow: 5px 5px 5px 5px gray;
    border-radius: 20px;
}