#main {
    display: flex;

    align-items: center;
    justify-content: center;

}

.registrationCont {
    background-color: white;
    border-radius: 10px;
    margin-top: -200px;
    width: 70vw;
    height: 60vh;

    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;


}

.usernameCont {

    display: flex;
    flex-direction: column;

    align-items: center;
}

.labelCont {

}

.inputCont {
}

.input {
    border-radius: 5px;
}

.input:hover {
    border: 1px solid;
}

.submitCont {
    width: 100px;
    height: 60px;
    background-color: grey;
    border-radius: 10px;
}

.submit {
    width: 100px;
    height: 60px;
    border: none;

}

.emojiCont {
    background-color: lightgray;
    border-radius: 10px;
    width: 50vw;
    height: 35vh;
    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    overflow-y: auto;
}

.skinCont {
    min-width: auto;
    min-height: 100px;

    display: flex;
    gap: 20px;
    justify-content: space-evenly;

    overflow-x: auto;
}

.mouthCont {
    min-width: auto;
    min-height: 100px;

    display: flex;
    gap: 20px;
    justify-content: space-evenly;

    overflow-x: auto;
}

.eyesCont {
    min-width: auto;
    min-height: 100px;

    display: flex;
    gap: 20px;
    justify-content: space-evenly;

    overflow-x: auto;
}

.featureCont {
    /*background-color: bisque;*/

    min-width: 80px;
    min-height: 80px;

    max-width: 80px;
    max-height: 80px;

    border: 1px solid;
    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.featureCont:hover {
    background-color: gray;
}

.green {
    object-fit: cover;
    width: 70px;
    height: 70px;
}