#card {
    display: inline-block;
    width: 200px;
    height: 260px;
    /*   border: 1px solid #CCC; */
    margin: 40px 0;
    perspective: 600px;
}

.cardCont {
    position: relative;
    background-color: white;
    padding: 20px 10px 20px 10px;
    border-radius: 10px;

    width: 100px;
    height: 100px;

    cursor: pointer;

    transform-style: preserve-3d;
    transform-origin: center right;
    transition: transform 1s;

}

.cardCont.is-flipped {
    transform: translateX(-100%) rotateY(-180deg);
}

.cardCont.is-glowing {
    background-color: #72b472;
    box-shadow: 0 0 5px 5px #72b472;
}

.cardCont.is-incorrect {
    background-color: #b47272;
    box-shadow: 0 0 5px 5px #b47272;
}

.card {
    position: absolute;
    object-fit: cover;
    width: 100px;
    height: 100px;
    /*line-height: 260px;*/
    /*writing-mode: sideways-rl;*/
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/

    backface-visibility: hidden;
}

.card--back {
    /*background-color: red;*/
}

.card--front > * {
    object-fit: cover;
    width: 100%;
    height: 100%;

    position: absolute;
}

.card--front {
    /*background-color: blue;*/
    transform: rotateY(180deg);
}
