.loadCont {
    position: relative;

    background-color: white;
    padding: 5px;
    border-radius: 10px;
    /*width: 200px;*/
    /*height: 200px;*/

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.loadTitleCont {
}

.loadTitle {
    font-size: 20px;
    font-weight: bold;
}

.loadButtonCont {
    display: flex;
    gap: 10px;
}

.load {
    background-color: white;

    width: 50%;
    min-height: 50px;
    padding: 5px;

    font-size: 20px;
    font-weight: bold;

    border-radius: 10px;
    /*border: 1px black;*/
}

.load:hover {
    background-color: #89ab81;
}

.cancel {
    background-color: white;

    width: 50%;
    min-height: 50px;
    /*padding: 5px;*/

    font-size: 20px;
    font-weight: bold;

    border-radius: 10px;
    /*border: 2px black;*/
}

.cancel:hover {
    background-color: #ab8181;
}